html {
  scroll-behavior: smooth;
}

body {
	font-family: Verdana;
  font-size: 15px;
	color:#F5F5F5; 
  background-color:#484848;
  background-position: center;
}

h1 {
	font-size: 30px;
	text-align: center
}

h2 {
	font-size: 20px;
  font-style: italic;
	text-align: center
}

h3 {
  font-size: 20px;
  text-align: center
}

a {
  text-decoration: none;
}

div.hidden {
  display: none;
}

div.hidden2 {
  display: none;
}

div.hidden3 {
  display: none;
}

.tab {
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color:#484848;
}

.tab button {
  font-family: Verdana;
  font-size: 15px;
  color:#F5F5F5;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;
} 

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}